ProyectoWeb1Ricardo.Web/Web References/wsServicios/wsServicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getPistasWS">
        <s:complexType />
      </s:element>
      <s:element name="getPistasWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPistasWSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPistasWSSoapIn">
    <wsdl:part name="parameters" element="tns:getPistasWS" />
  </wsdl:message>
  <wsdl:message name="getPistasWSSoapOut">
    <wsdl:part name="parameters" element="tns:getPistasWSResponse" />
  </wsdl:message>
  <wsdl:portType name="wsServiciosSoap">
    <wsdl:operation name="getPistasWS">
      <wsdl:input message="tns:getPistasWSSoapIn" />
      <wsdl:output message="tns:getPistasWSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsServiciosSoap" type="tns:wsServiciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPistasWS">
      <soap:operation soapAction="http://tempuri.org/getPistasWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsServiciosSoap12" type="tns:wsServiciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPistasWS">
      <soap12:operation soapAction="http://tempuri.org/getPistasWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsServicios">
    <wsdl:port name="wsServiciosSoap" binding="tns:wsServiciosSoap">
      <soap:address location="http://localhost/Proyecto.WS/Servicios/wsServicios.asmx" />
    </wsdl:port>
    <wsdl:port name="wsServiciosSoap12" binding="tns:wsServiciosSoap12">
      <soap12:address location="http://localhost/Proyecto.WS/Servicios/wsServicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>